.letra{
    color: white;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

td {
    width: 25%;
    height: 25%;
    background-color: black;
    border: 3px solid black;
    border-radius: 5px;
    border-color: blue;
}